<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <!-- SOCIAL ICONS -->
        <div class="social-buttons">
          <a href="https://www.linkedin.com/in/flowamonoy" target="_blank" style="color: #0077b5">
            <span class="social-button__inner">
              <i class="fa fa-linkedin"></i>
            </span>
          </a>
          <a href="https://github.com/amonoyflow" target="_blank" style="color: #6e5494">
            <span class="social-button__inner">
              <i class="fa fa-github"></i>
            </span>
          </a>
        </div>
        <p class="copyright text-muted">Copyright &copy; {{ site.author }} {{ 'now' | date: "%Y" }}</p>
      </div>
    </div>
  </div>
</footer>
